section.canhcam-project-detail-5#canhcam-detail-section-5
	.container
		.slide
			h2.text-center.text-uppercase.title.mb-4.mb-lg-5 tổng quan
			.row.text-center.text-md-left
				.col-12.mb-4
					h3.brief-content Khu đô thị Splendora
			.row.mb-4.text-center.text-md-left
				.col-md-6
					p.content.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione animi ullam dignissimos laudantium laboriosam molestiae corrupti minus tempora saepe quo cumque optio consequatur.
					p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione animi ullam dignissimos laudantium laboriosam molestiae corrupti minus tempora saepe quo cumque optio consequatur.
				.col-md-6
					p.content.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione animi ullam dignissimos laudantium laboriosam molestiae corrupti minus tempora saepe quo cumque optio consequatur provident odit facere quae aperiam dolor?
					p.content.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione animi ullam dignissimos laudantium laboriosam molestiae corrupti minus tem
					p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione animi ullam dignissimos laudantium laboriosam molestiae corrupti minus tem
			.row
				.col
					article.carousel-2
						.item.active(data-slider="1")
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="2") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-tiny-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="3") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="4") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="5") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="6") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="7") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
						.item.active(data-slider="8") 
							.owl-carousel.owl-theme
								.itemc(bg-img="./img/gioithieu/tongquan/slider-1.png")
									h4.title-slider Khu biệt thự và liền kề thuộc giai đoạn 1 dự án Splendora
			.row
				.col
					article.owl-carousel.carousel-1.owl-theme.list-items
						.item.active(data-to="1")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-1.png")
						.item(data-to="2")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-2.png")
						.item(data-to="3")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-3.png")
						.item(data-to="4")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-4.png")

						.item(data-to="5")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-5.png")

						.item(data-to="6")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-1.png")

						.item(data-to="7")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-2.png")

						.item(data-to="8")
							figure.w-100
								img(src="./img/gioithieu/tongquan/slider-tiny-3.png")

