section.gioithieu-box-6(bg-img="./img/home/bg/home-bg-box4.png")
	.container
		h2.h2.text-center.text-uppercase.mb-4 Thư viện ảnh
		.row
			.col-lg-8
				.row
					.col-lg-8
						.item
							figure
								img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-1.png", alt="")
								figcaption
					.col-lg-4
						.row
							.col-12
								.item
									figure
										img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-2.png", alt="")
										figcaption
							.col-12
								.item
									figure
										img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-3.png", alt="")
										figcaption
				.row
					.col-lg-4
						.item
						figure
							img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-4.png", alt="")
							figcaption
					.col-lg-4
						.item
						figure
							img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-5.png", alt="")
							figcaption
					.col-lg-4
						.item
						figure
							img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-6.png", alt="")
							figcaption
			.col-lg-4
				.row
					.col-12
						.item
							figure
								img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-1.png", alt="")
								figcaption
					.col-12
						.item
							figure
								img.img-fluid(src="./img/sanpham/gioithieu/gallery/img-1.png", alt="")
								figcaption
