section.canhcam-jvc-1
	article.container
		h2.ankhanh-title Thư ngỏ
		.row
			.col-lg-6
				.text
					p Việt Nam đang chứng kiến những bước chuyển mình mạnh mẽ. Hà Nội đang chứng kiến một sự thay đổi ở phía Tây. Tại đó một điển hình về môi trường sống mới – tiện nghi hơn, trong lành hơn đang dần hình thành.
					p Công ty Liên doanh TNHH Phát triển Đô thị mới An Khánh (An Khánh JVC) chào mừng quý vị tới Splendora – Khu độ thị mới tráng lệ với đầy đủ mọi tiện nghi trong tầm tay tại phía Tây Hà Nội.
					p Là sự hợp tác toàn diện giữa hai tập đoàn xây dựng hàng đầu Vinaconex của Việt Nam và Posco E&C của Hàn Quốc, Công ty Liên doanh TNHH Phát triển Đô thị mới An Khánh (An Khánh JVC) được thành lập với sứ mệnh xây dựng thành công khu đô thị hoàn toàn mới và hiện đại, mang đến môi trường sống đẳng cấp quốc tế tại miền Bắc Việt Nam – Khu đô thị mới Splendora.
			.col-lg-6
				.text
					p Tọa lạc tại vị trí địa lý thuận lợi vào bậc nhất ở miền Bắc Việt Nam, Splendora rồi đây sẽ là trung tâm phát triển của cả khu vực phía Tây Hà Nội.Tiếp giáp với Đại lộ Thăng Long, huyết mạch giao thông cửa ngõ phía Tây, cách trung tâm Hoàn Kiếm khoảng 15km, và chỉ cách sân bay quốc tế Nội Bài khoảng 40 phút chạy xe, từ Splendora, bạn có thể đi khắp mọi nơi một cách thuận tiện nhất. Với tổng diện tích 264 ha đất, Splendora được quy hoạch phát triển theo các tiêu chuẩn quốc tế về mặt thiết kế và chất lượng, một thành phố tự trang bị đầy đủ với mảng kinh doanh, dân cư, thương mại, các cơ sở giáo dục và văn hóa, thể thao, giải trí… trong một môi trường sống hài hòa. Splendora là thành phố mơ ước của tương lai mà cư dân có thể trải nghiệm trong hiện tại.
					p Với tất cả nhiệt huyết, sự quyết tâm và niềm tin sắt đá, chúng tôi – An Khánh JVC đã, đang và sẽ tiếp tục nỗ lực để xây dựng thành công Khu đô thị mới Splendora. 
					p Hãy đến để tận hưởng tương lai huy hoàng của bạn cùng với chúng tôi tại Splendora
			.col-12.position-relative
				.img-bg
					img.img-fluid(src="./img/ankhanhjvc/thungo/t_1.jpg", alt="")