section.home-box-2
		.row.no-gutters
			.col-lg-6.item(bg-img="./img/home/bg/home-bg-box2.png" bg-size="none" bg-pos="none")
				figure.fixed-width
					h2.h2 Trung tâm ở phía tây của Hà Nội
					figcaption
						.box-content
							p.brief-content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente soluta, magni exercitationem fuga quasi quos fugit deleniti earum possimus ex, rerum numquam praesentium vero odio ratione ullam nobis tempora explicabo?
							p.brief-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla at nihil eveniet tempore voluptatem porro assumenda quidem vitae dolorem autem quam modi, minima esse aliquam iste accusamus animi voluptate harum.
							button.btn.btn-outline-light.btn-more Xem thêm
			.col-lg-6.item(bg-img="./img/home/bg/home-bg-box2-right.png" bg-size="none" bg-pos="top left")
