section.canhcam-ankhanh-news-detail-n-1
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						.row.title-news
							.col-md-2.order-2.d-md-flex.justify-content-md-end
								time 08/08/2018
							.col-md-10.order-1
								h1 Splendora - Cơ hội đầu tư dịch vụ - bán lẻ triển vọng
						hr 
						p Splendora, dự án Khu đô thị phức hợp hiện đại tại cửa ngõ phía Tây của Thủ đô đã dần thành hình sau khi Giai đoạn 1 của dự án được hoàn thành và đưa vào sử dụng. Splendora hiện nay đang là nơi sinh sống của hơn 1,000 cư dân thu nhập cao với nhu cầu rất lớn về các dịch vụ cho đời sống.
						p
							a.item-news-read(href="./img/ankhanh-news-detail/n_1.png")
								figure.box-image
									img.img-fluid(src="./img/ankhanh-news-detail/n_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
						p Đây là cơ hội rất tiềm năng cho các nhà đầu tư dịch vụ - bán lẻ nhờ vào nhu cầu đa dạng của cư dân. Chủ đầu tư dự án Công ty An Khánh JVC cũng đang mang đến nhiều ưu đãi cho các đối tác cung cấp dịch vụ cho cư dân đồng thời cũng luôn hỗ trợ các đối tác trong hoạt động kinh doanh tại khu đô thị.
						p
							a.item-news-read(href="./img/ankhanh-news-detail/n_2.png")
								figure.box-image
									img.img-fluid(src="./img/ankhanh-news-detail/n_2.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
						p Hiện nay, Splendora đang mong muốn thu hút các đối tác đầu tư dịch vụ - bán lẻ trong một số lĩnh vực:
						ul
							li Hiệu thuốc: quy mô phục vụ cư dân khu đô thị
							li Trung tâm dịch vụ giải trí vui chơi dành cho trẻ em: mô hình khu vui chơi – dịch vụ trong nhà, diện tích khoảng 200m2 dành cho trẻ em.
							li Các chuỗi thương hiệu fast food, coffee shop, bakery nổi tiếng.
							li Các chuỗi thương hiệu fast food, coffee shop, bakery nổi tiếng.
						p
							a.item-news-read(href="./img/ankhanh-news-detail/n_3.png")
								figure.box-image
									img.img-fluid(src="./img/ankhanh-news-detail/n_3.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
						
						p Ngoài ra, Splendora vẫn luôn đón nhận các đối tác có mong muốn cung cấp các dịch vụ khác, cần thiết cho mọi mặt của đời sống cư dân. Mọi chi tiết xin liên hệ:
						p Ms Đỗ Thùy Dương
						p Phòng Quản lý đô thị Công ty LD TNHH Phát triển đô thị mới An Khánh
						p Km 10 + 600 Đại lộ Thăng Long, An Khánh, Hoài Đức, Hà Nội
						p Điện thoại: 04 3755 6541 – máy lẻ 314 
						p Email: thuyduongankhanh@gmail.com
						
				//- Relation news
				.col-lg-3.rela-news
					.row 
						.col-12.othernews
							h2.text-uppercase Bài viết khác
					.row 
						//- new-1
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							a.item(href="#")
								figure
									img(src="./img/ankhanh-news-detail/n_4.png", alt="alt")
									figcaption.box-match
										time 08/08/2018
										h3 Khu đô thị Hòa Lạc: Giá trị BĐS gia tăng nhờ đòn bẩy hạ tầng
								hr
						//- new-2
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							a.item(href="#")
								figure
									img(src="./img/ankhanh-news-detail/n_5.png", alt="alt")
									figcaption.box-match
										time 08/08/2018
										h3 Splendora - Cơ hội đầu tư dịch vụ - bán lẻ triển vọng
								hr
						//- new-3
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							a.item(href="#")
								figure
									img(src="./img/ankhanh-news-detail/n_6.png", alt="alt")
									figcaption.box-match
										time 08/08/2018
										h3 Trường Quốc tế Mỹ St.Paul Hà Nội - Cơn gió mới tại Khu đô thị Splendora
								hr
