section.canhcam-boxes-5(bg-img="./img/bg/bg-splendora.png")
	.container
		.row
			.col-lg-6.mb-5.mb-lg-0
				figure
					figcaption.box-content
						h2.title Gói tài chính đặc biệt
						p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sapiente tenetur deserunt aliquid fugiat reprehenderit. Recusandae sapiente tenetur deserunt aliquid fugiat reprehenderit.
						p.brief-content
							| Lãi suất ưu đãi: từ 4.99%/năm
							br
							| Ân hạn gốc 2 năm
							br
							| Miễn phí trả nợ trước hạn từ năm thứ 6
							br
							| Vay tối đa 95% tổng giá trị căn hộ
							br
							| Thế chấp chính căn hộ đã mua.
			.col-lg-6
				figure
					img(src="./img/home/box5/home-box5-1.png", alt="alt")
					figcaption 
