section.canhcam-project-detail-7#canhcam-detail-section-7
	.container
		.slide
			h2.text-center.text-uppercase.title.mb-4.mb-lg-5 thiết kế
			.row.text-center
				.col-12.mb-4.text.center
					figure
						figcaption 
							p.content Khu đô thị Splendora bao gồm các khu: khu thương mại, khu nhà ở chung cư cao tầng, khu văn hóa công cộng và khu nhà ở thấp tầng. 
				.col-12.mb-5
					figure.box-img
						img(src="./img/gioithieu/thietke/img-1.png", alt="")
						figcaption
				.col-lg-6.text-left.mb-4.mb-lg-0
					figure
						figcaption.box-content
							ul.list-unstyled
								li.item.mb-4
									p.item-content.mb-3 Quy hoạch tổng thể bởi POSCO E&C. Các hạng mục trong giai đoạn 1 được thiết kế bởi:
									ul.circle
										li
											p Eric Dubosc (Dubosc & Landowski), Pháp
										li 
											p Giáo sư - Kiến trúc sư thiết kế cảnh quan, Katherine Bennett, Mỹ
										li
											p Dong II Architects & Engineers, Hàn Quốc
										li
											p Vinaconsult, Việt Nam
								li.item.mb-4
									h3.brief-content Quy hoạch phân khu chức năng
								li.item.mb-4
									ul.circle
										li
											p Tháp trung tâm: Biểu tượng của Splendora nằm ngay giữa trung tâm với  60 tầng cao là điểm nhấn của Dự án.
										li
											p Tiện ích khác : Công viên hồ điều hòa trung tâm và hệ thống nhà hàng kết nối thuận tiện với khu dân cư.
										li
											p Khu nhà ở cao tầng : Thiết kế sang trọng, thuận tiện và thân thiện với môi trường.
										li
											p Tiện ích giáo dục : Môi trường giáo dục an toàn, chất lượng và đồng bộ.
										li
											p Văn phòng: Vị trí xen kẽ với khu dân cư
										li
											p Khu thương mại và mua sắm : Hệ thống trung tâm thương mại, mua sắm thuận tiện và sang trọng.
										li
											p Khu thể thao : Khu thể thao, công viên giải trí.
				.col-lg-6
					figure.box-img
						img.img-fluid(src="./img/gioithieu/thietke/img-2.png", alt="alt")
						figcaption 
