section.canhcam-ankhanh-contact-c-1
	.container
			.row 
				.col-10.mx-auto
					h2.h2.text-center.text-uppercase Liên hệ
	.container
		.row.info
			.col-md-5.col-lg-4.company
				article.inf.h-100(bg-img="./img/ankhanh-contact/c_3.png")
					.title
						h2.h2.text-center.text-md-left Công ty Liên doanh TNHH					
						h2.h2.text-center.text-md-left Phát triển Đô thị mới An Khánh
					p.text-center.text-md-left Km10+600, Đại lô Thăng Long, An Khánh, Hoài Đức, Hà Nội
					p.text-center.text-md-left Điện thoại: 024 3755 6541
					p.text-center.text-md-left Fax: 024 3755 6546
					p.text-center.text-md-left Email: info@ankhanhjvc.com
			.col-md-7.col-lg-8.form
				form.validator
					.row
						.form-group.col-md-6
							input#name.form-control(type='text', placeholder='Họ và tên...', data-error="Vui lòng nhập thông tin", required)
							.help-block.with-errors
						.form-group.col-md-6
							input#Email.form-control(type='text', placeholder='Email...', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
							.help-block.with-errors
					.row
						.form-group.col-md-6
							input#Address.form-control(type='text', placeholder='Tiêu đề...')
						.form-group.col-md-6
							input#Phone.form-control(type='text', placeholder='Số điện thoại...', data-error="Vui lòng nhập thông tin", pattern="^[_A-z0-9]{1,}$", required)
							.help-block.with-errors
					.row
						.form-group.col
							textarea#sms.form-control(name="sms", cols="30", rows="7" placeholder="Nội dung...")
					.row.justify-content-between
						.col-9.captcha
							p 
								img(src="./img/ankhanh-contact/c_1.png", alt="")
							p.captcha2
								img(src="./img/ankhanh-contact/c_2.png", alt="")
							input#capcha.form-control(type='text', data-error="Vui lòng nhập thông tin", required)
						.col-3.d-flex.justify-content-end
							.btn-submit(type="submit")
								a
									| GỬI
