section.canhcam-nav-9
	article.nav-list
		.container
			nav
				ul
					li
						a(data-link="about-1" href="tongquan.html") Tổng quan
					li
						a(data-link="about-2" href="quyhoach.html") Quy hoạch
					li
						a(data-link="about-3" href="thietke.html") Thiết kế
					li
						a(data-link="about-4" href="phattrien.html") Các giai đoạn phát triển
