section.canhcam-carousel-9(bg-img="./img/home/bg/home-bg-box7.png")
	.container
		.row
			.col
				.default-title.white.text-center
					h2.h2.mb-4.mb-lg-5 Tiến độ dự án
				.wrap
					.slide-2.slide.nav.text-center.d-none.d-lg-flex
						.item
							h4 Tháng 01/2018
						.item
							h4 Tháng 02/2018
						.item
							h4 Tháng 03/2018
						.item
							h4 Tháng 04/2018
						.item
							h4 Tháng 05/2018
					.slide-3.slide.content.d-lg-none
						.item
							.text
								h3.d-lg-none Tháng 01/2018
						.item
							.text
								h3.d-lg-none Tháng 02/2018
						.item
							.text
								h3.d-lg-none Tháng 03/2018
						.item
							.text
								h3.d-lg-none Tháng 04/2018
						.item
							.text
								h3.d-lg-none Tháng 05/2018
				.slide-1.slide
					.item(bg-img="./img/home/box6/home-slider-box6-1.png")
					.item(bg-img="./img/home/box6/home-slider-box6-1.png")
					.item(bg-img="./img/home/box6/home-slider-box6-1.png")
					.item(bg-img="./img/home/box6/home-slider-box6-1.png")
					.item(bg-img="./img/home/box6/home-slider-box6-1.png")
				
