section.canhcam-news-3
	article.news-list
		.container
			.row#products
				//- r-1 
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/resident/r_1.png", alt="alt")
							figcaption
								time 08/08/2018
								h3 Tưng bừng các hoạt động đón hè 2018 của cư dân Splendora
								p Mùa hè đến là thời điểm các gia đình, đặc biệt là những gia đình có con nhỏ, luôn tìm kiếm các hoạt động bổ ích, nơi các thành viên có thể cùng gắn kết. Hãy cùng xem các cư dân Splendora đã đón hè 2015 như thế nào nhé.
				//- r-2 
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/resident/r_2.png", alt="alt")
							figcaption
								time 08/08/2018
								h3 Khu đô thị Splendora mở lớp yoga và step cho cư dân
								p Mùa hè đến là thời điểm các gia đình, đặc biệt là những gia đình có con nhỏ, luôn tìm kiếm các hoạt động bổ ích, nơi các thành viên có thể cùng gắn kết. Hãy cùng xem các cư dân Splendora đã đón hè 2015 như thế nào nhé.
				//- r-3 
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/resident/r_3.png", alt="alt")
							figcaption
								time 08/08/2018
								h3 Bể bơi chung cư  cao cấp mở cửa hoạt động hè 2018
								p Mùa hè đến là thời điểm các gia đình, đặc biệt là những gia đình có con nhỏ, luôn tìm kiếm các hoạt động bổ ích, nơi các thành viên có thể cùng gắn kết. Hãy cùng xem các cư dân Splendora đã đón hè 2015 như thế nào nhé.
				//- r-4 
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/resident/r_4.png", alt="alt")
							figcaption
								time 08/08/2018
								h3 Cư dân Splendora tích cực tham gia cuộc họp cư dân đầu năm 2018
								p Mùa hè đến là thời điểm các gia đình, đặc biệt là những gia đình có con nhỏ, luôn tìm kiếm các hoạt động bổ ích, nơi các thành viên có thể cùng gắn kết. Hãy cùng xem các cư dân Splendora đã đón hè 2015 như thế nào nhé.
				//- r-5 
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/resident/r_5.png", alt="alt")
							figcaption
								time 08/08/2018
								h3 Hướng dẫn thanh toán phí dịch vụ cư dân Splendora
								p Mùa hè đến là thời điểm các gia đình, đặc biệt là những gia đình có con nhỏ, luôn tìm kiếm các hoạt động bổ ích, nơi các thành viên có thể cùng gắn kết. Hãy cùng xem các cư dân Splendora đã đón hè 2015 như thế nào nhé.
				//- r-6 
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/resident/r_6.png", alt="alt")
							figcaption
								time 08/08/2018
								h3 Vai trò của các bên trong công tác PCCC ở căn hộ
								p Mùa hè đến là thời điểm các gia đình, đặc biệt là những gia đình có con nhỏ, luôn tìm kiếm các hoạt động bổ ích, nơi các thành viên có thể cùng gắn kết. Hãy cùng xem các cư dân Splendora đã đón hè 2015 như thế nào nhé.
//- Panigation
section.canhcam-pagination-1
	.container
		.row.pagelist
			.col.d-flex.align-items-center.justify-content-center.justify-content-md-center
				ul.pagination
					li.page-item.active
						a.page-link(href="#", title="title") 1
					li.page-item
						a.page-link(href="#", title="title") 2
					li.page-item
						a.page-link(href="#", title="title") 3
					li.page-item
						a.page-link(href="#", title="title") 4
