section.canhcam-ankhanh-navbar
	.container.navbar-2
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select)
					li.nav-item
						a.nav-link(href='ankhanh-news.html') tin tức
					li.nav-item.active
						a.nav-link(href='#') Dịch vụ - tiện ích
					li.nav-item
						a.nav-link(href='#') video
					li.nav-item
						a.nav-link(href='#') hình ảnh
