section.product-detail-1(bg-img="./img/bg/bg-splendora.png")
	.container
		h2.h2.text-uppercase.text-center.mb-5 Khu biệt thự cao cấp BT5
		.row
			.col-12.text-center.box-content.mb-4
				p.content Khu biệt thự cao cấp Lakeside Splendora (BT5) – Dự án Khu đô thị mới Bắc An Khánh tại Km 10 + 600 Đại lộ Thăng Long, xã An Khánh, huyện Hoài Đức, TP.Hà Nội. Dự án tọa lạc trên diện tích 4,7ha với tổng vốn đầu tư khoảng 32,4 triệu USD tương đương đến 730 tỉ đồng với thiết kế 77 lô biệt thự cao cấp có chiều cao 3 tầng. Dự kiến khi hoàn thành vào tháng 1.2018, Lakeside Splendora sẽ cung cấp không gian sống và làm việc cho khoảng 350 cư dân mới.
	.full-width
		figure.mb-4.box-img(bg-img="./img/sanpham/gioithieu/img-box1.png" bg-size="cover" bg-pos="center")
			figcaption
	.container
		.row
			.col-12.text-center.box-content
				p.content Được bao bọc bởi không gian xanh, The Luxury Lakeside Villa hưởng trọn linh khí đất trời trong khung cảnh nên thơ, hữu tình bên hồ trung tâm. Ở nơi đây, bạn luôn cảm thấy thoáng đãng, mát mẻ với luồng sinh khí hoà lẫn làn gió mát mẻ từ hồ trung tâm ngay kề bên. The Luxury Lakeside Villa hội tụ đủ các yếu tố khí hậu "Đông ấm - Hạ mát". Tạm xa sự bức bối, mệt mỏi bởi ô nhiễm, bởi thời tiết ngày càng khắc nghiệt hay chính bởi gió nhân tạo từ điều hoà...Sở hữu The Luxury Lakeside Villa là bạn đã lựa chọn cho mình cuộc sống xanh với những khoảnh khắc quây quần bên bạn bè, gia đình, cùng tạn hưởng những phú giây dịu dàng, thư thái và khó quên.
