section.gioithieu-box-2(bg-img-responsive="./img/sanpham/gioithieu/bg-box2.png" bg-img-responsive-md="./img/home/bg/home-bg-box4.png" bg-img-responsive-sm="./img/home/bg/home-bg-box4.png" bg-img-responsive-xs="./img/home/bg/home-bg-box4.png")
	.container
		h2.h2.text-center.text-uppercase.mb-5 Vị trí dự án
		.row
			.col-lg-4.text-center.text-lg-left
				.box-content(bg-img-responsive="./img/sanpham/gioithieu/bg-content-box2.png")
					h3.h3.mb-3 Vị trí thuận tiện dễ dàng kết nối
					p.content.mb-3 Dự án Splendora cách Trung tâm Hội nghị quốc gia 8km, tiếp giáp với đường cao tốc Láng – Hoà Lạc ( 100km/h ) và là một trong năm khu đô thị vệ tinh kết nối với Khu công nghệ cao Hòa Lac, định hướng phát triển đến năm 2020.
					a.link.text-uppercase(href="#") Xem bản đồ
						span.ml-2
							i.fas.fa-arrow-right
			.col.d-lg-none
				figure.box-img(bg-img="./img/sanpham/gioithieu/bg-box2.png" bg-size="cover" bg-pos="center")
					figcaption
