section.canhcam-nav-9
	article.nav-list
		.container
			nav
				ul
					li
						a(data-link="about-1" href="bt5.html") Khu biệt thự cao cấp BT5
					li
						a(data-link="about-2" href="#") Khu biệt thự
					li
						a(data-link="about-3" href="#") Khu liền kề
					li
						a(data-link="about-4" href="#") Chung cư cao tầng
					li
						a(data-link="about-5" href="#") Trung tâm thương mại
					li
						a(data-link="about-6" href="#") Siêu thị
