section.canhcam-jvc-4
	.container
		h2.ankhanh-title ĐỐi tác
		.row
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")
			.col-20.col-sm-4.col-6
				.partner-wrap
					img.img-fluid(src="./img/ankhanhjvc/doitac/logo-1.png", alt="")