section.location-home(bg-img="./img/bg/bg-splendora.png")
	.container.bg-white.pl-lg-5.pr-lg-5
		.row
			.col-12.text-center
				h1.h1.text-uppercase Vị trí dự án
		.row.d-flex.mb-5
			.col-lg-6.order-2.order-lg-1
				.item
					figure
						.box-img
							img.w-100(src="./img/vitri/img-1.png", alt="")
						figcaption
			.col-lg-6.order-1.order-lg-2
				.item
					figure
						figcaption
							.box-content
								h2.h2.mb-4 Trung tâm ở phía tây của Hà Nội
								ul
									li.nav-item
										p.content Kể từ khi Chính phủ định hướng phát triển trục phía Tây của Hà nội nhằm mục đích giãn dân từ nội đô và giải quyết vấn đề giao thông đô thị kể từ 8/1/2008. Trục phía Tây trở thành tâm điểm mới. Mục tiêu của Bắc An Khánh là xây dựng một thành phố mới thuận tiện về giao thông và thiết kế đồng bộ, đây là điểm khác biệt so với khu phố cổ, trung tâm Hà Nội.
									li.nav-item
										p.content Là một trong năm khu đô thị vệ tinh kết nối với Khu công nghệ cao Hòa Lac, định hướng phát triển đến năm 2020
									li.nav-item
										p.content Có nhiều lợi thế về vị trí khi mà toàn bộ các cơ quan Bộ, Sở của Chính Phủ chuyển về khu vực Mỹ Đình.
		.row.mb-5
			.col-lg-6
				.item
					figure
						figcaption
							.box-content
								h2.h2.mb-4 Giao thông
								ul
									li.nav-item
										p.content Kể từ khi Chính phủ định hướng phát triển trục phía Tây của Hà nội nhằm mục đích giãn dân từ nội đô và giải quyết vấn đề giao thông đô thị kể từ 8/1/2008. Trục phía Tây trở thành tâm điểm mới. Mục tiêu của Bắc An Khánh là xây dựng một thành phố mới thuận tiện về giao thông và thiết kế đồng bộ, đây là điểm khác biệt so với khu phố cổ, trung tâm Hà Nội.
									li.nav-item
										p.content Là một trong năm khu đô thị vệ tinh kết nối với Khu công nghệ cao Hòa Lac, định hướng phát triển đến năm 2020
									li.nav-item
										p.content Có nhiều lợi thế về vị trí khi mà toàn bộ các cơ quan Bộ, Sở của Chính Phủ chuyển về khu vực Mỹ Đình.
			.col-lg-6
				.item
					figure
						.box-img
							img.w-100(src="./img/vitri/img-2.png", alt="")
						figcaption
		.row
			.col-12
				h2.h2.text-center.mb-4 Sơ đồ vị trí dự án Splendora
				.item
					figure
						.box-img.map(bg-img="./img/vitri/map.png")
						figcaption
