section.home-box-1(bg-img="./img/bg/bg-splendora.png")
	.container
		.row
			.col-lg-6.item
				figure.full-box
					img(src="./img/home/logo/home-logo-2-color.png", alt="alt")
					figcaption
						.box-content
							.content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempora laudantium totam ullam aliquam sequi blanditiis labore cum ducimus facilis ab voluptate, nostrum sapiente corporis odio magni laborum reprehenderit aliquid?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore labore, sint id blanditiis numquam amet maiores consectetur facere accusamus asperiores impedit molestiae ab optio incidunt aliquid! Iusto debitis aliquam labore?
							button.btn.btn-legendary.btn-more Xem thêm
			.col-lg-6.item.mt-5
				.row
					.col-md-4.pr-3.pl-3.pr-lg-1.pl-lg-1.item-img
						.box-img(bg-img="./img/home/images/home-img-vinaconex.png")
							figure
								img.img-fulid(src="./img/home/images/home-vinaconex-logo.png", alt="alt").img-fluid
								figcaption 
					.col-md-4.mt-5.mt-md-0.pr-3.pl-3.pr-lg-1.pl-lg-1.item-img
						.box-img(bg-img="./img/home/images/home-img-splendora.png")
							figure
								img.img-fulid(src="./img/home/images/home-splendora-logo.png", alt="alt").img-fluid
								figcaption 
					.col-md-4.mt-5.mt-md-0.pr-3.pl-3.pr-lg-1.pl-lg-1.item-img
						.box-img(bg-img="./img/home/images/home-img-phulong.png")
							figure
								img.img-fulid(src="./img/home/images/home-phulong-logo.png", alt="alt").img-fluid
								figcaption 
