section.canhcam-ankhanh-customer-support-c-1
	.container
		.row
			.col.mb-5
				#accordion
					//- question 1
					#block-1.card
						#hd-1.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-1', aria-expanded='true', aria-controls='cp-1')
									span.mr-auto Tiến độ thực hiện của Splendora tính đến thời điểm này?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-1.collapse.show(aria-labelledby='hd-1', data-parent='#accordion')
							.card-body.answer
								p Đến nay, chúng tôi đã hoàn tất việc đên bù và giải phóng mặt bằng cho trên 95% diện tích của dự án. Dự án trải rộng 
								p trên diện tích 264ha được phân chia thành 6 giai đoạn.
								p Giai đoạn 1 của dự án đã được hoàn thành và đón cư dân về sinh sống từ cuối năm 2013. p Giai đoạn 1 của dự án bao gồm 1 khu biệt thự, 1 khu nhà liền kề và 4 tòa chung cư. Công trình trường cấp 1 cũng đã được hoàn thiện và sẵn sàng đưa vào hoạt động để phục vụ cư dân.
								p Giai đoạn 2 của dự án đã được khởi công và tháng 6/2015.
					//- question 2
					#block-2.card
						#hd-2.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-2', aria-expanded='false', aria-controls='cp-2')
									span.mr-auto Nhiều độc giả cho rằng dự án Splendora chỉ bán giá gốc cho các đối tượng góp vốn, khách hàng mua sau khó có cơ hội tiếp cận giá gốc và đều phải chịu một khoản chênh. Ý kiến An Khánh JVC thế nào?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-2.collapse(aria-labelledby='hd-2', data-parent='#accordion')
							.card-body.answer
								p Đến nay, chúng tôi đã hoàn tất việc đên bù và giải phóng mặt bằng cho trên 95% diện tích của dự án. Dự án trải rộng 
								p trên diện tích 264ha được phân chia thành 6 giai đoạn.
								p Giai đoạn 1 của dự án đã được hoàn thành và đón cư dân về sinh sống từ cuối năm 2013. p Giai đoạn 1 của dự án bao gồm 1 khu biệt thự, 1 khu nhà liền kề và 4 tòa chung cư. Công trình trường cấp 1 cũng đã được hoàn thiện và sẵn sàng đưa vào hoạt động để phục vụ cư dân.
								p Giai đoạn 2 của dự án đã được khởi công và tháng 6/2015.
					//- question 3
					#block-3.card
						#hd-3.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-3', aria-expanded='false', aria-controls='cp-3')
									span.mr-auto Dự án Splendora có phải là Bắc An Khánh vẫn được nói đến từ trước đến nay?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-3.collapse(aria-labelledby='hd-3', data-parent='#accordion')
							.card-body.answer
								p Đến nay, chúng tôi đã hoàn tất việc đên bù và giải phóng mặt bằng cho trên 95% diện tích của dự án. Dự án trải rộng 
								p trên diện tích 264ha được phân chia thành 6 giai đoạn.
								p Giai đoạn 1 của dự án đã được hoàn thành và đón cư dân về sinh sống từ cuối năm 2013. p Giai đoạn 1 của dự án bao gồm 1 khu biệt thự, 1 khu nhà liền kề và 4 tòa chung cư. Công trình trường cấp 1 cũng đã được hoàn thiện và sẵn sàng đưa vào hoạt động để phục vụ cư dân.
								p Giai đoạn 2 của dự án đã được khởi công và tháng 6/2015.
					//- question 4
					#block-4.card
						#hd-4.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-4', aria-expanded='false', aria-controls='cp-4')
									span.mr-auto Sản phẩm mà Splendora mang lại cho khách hàng như thế nào, mức độ hoàn thiện ra sao?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-4.collapse(aria-labelledby='hd-4', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 5
					#block-5.card
						#hd-5.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-5', aria-expanded='false', aria-controls='cp-5')
									span.mr-auto Tiến độ thực hiện của Dự án, hạng mục nhà ở và các hạng mục khác?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-5.collapse(aria-labelledby='hd-5', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 6
					#block-6.card
						#hd-6.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-6', aria-expanded='false', aria-controls='cp-6')
									span.mr-auto Dự án Splendora có phải là Bắc An Khánh vẫn được nói đến từ trước đến nay?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-6.collapse(aria-labelledby='hd-6', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 7
					#block-7.card
						#hd-7.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-7', aria-expanded='false', aria-controls='cp-7')
									span.mr-auto Sản phẩm mà Splendora mang lại cho khách hàng như thế nào, mức độ hoàn thiện ra sao?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-7.collapse(aria-labelledby='hd-7', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 8
					#block-8.card
						#hd-8.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-8', aria-expanded='false', aria-controls='cp-8')
									span.mr-auto Tiến độ thực hiện của Dự án, hạng mục nhà ở và các hạng mục khác?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-8.collapse(aria-labelledby='hd-8', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 9
					#block-9.card
						#hd-9.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-9', aria-expanded='false', aria-controls='cp-9')
									span.mr-auto Dự án Splendora có phải là Bắc An Khánh vẫn được nói đến từ trước đến nay?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-9.collapse(aria-labelledby='hd-9', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 10
					#block-10.card
						#hd-10.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-10', aria-expanded='false', aria-controls='cp-10')
									span.mr-auto Sản phẩm mà Splendora mang lại cho khách hàng như thế nào, mức độ hoàn thiện ra sao?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-10.collapse(aria-labelledby='hd-10', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					//- question 11
					#block-11.card
						#hd-11.card-header
							h4
								a.question(data-toggle='collapse', href='#cp-11', aria-expanded='false', aria-controls='cp-11')
									span.mr-auto Tiến độ thực hiện của Dự án, hạng mục nhà ở và các hạng mục khác?
									em.plus-circle
										img(src="./img/ankhanh-customer-support/c-2.png", alt="")
									em.minus-circle
										img(src="./img/ankhanh-customer-support/c-3.png", alt="")
						#cp-11.collapse(aria-labelledby='hd-11', data-parent='#accordion')
							.card-body.answer
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.								
				//- Panigation
				include ../../panigation/p-1/index.pug
			.col-lg-4
				form.validator
					h4 Gửi câu hỏi
					.form-group
						label(for="name") Họ tên
						input#name.form-control(type='text', placeholder=' ', data-error="Vui lòng nhập thông tin", required)
					.form-group
						label(for="Email") Email
						input#Email.form-control(type='text', placeholder=' ', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
					.form-group
						label(for="title") Tiêu đề
						input#title.form-control(type='text', placeholder=' ', data-error="Vui lòng nhập thông tin", required)
					.form-group
						label(for="message") Nội dung 
						textarea#message.form-control(type='text', rows='5', placeholder=' ', data-error="Vui lòng nhập thông tin")
					.form-group
						figure
							img(src="./img/ankhanh-customer-support/c_1.png", alt="")
					.form-group.mb-0
						button.btn.btn-ankhanh.btn-block.text-uppercase(type="submit")
							| GỬI THÔNG TIN
