section.canhcam-boxes-4(bg-img="./img/home/bg/home-bg-box4.png")
	.container
		.row
			.col-lg-6.mb-4
				figure
					figcaption.box-content.mb-4
						h2.title Cộng đồng gắn kết đong đầy hạnh phúc
					button.btn.btn-outline-light.btn-more Xem thêm
			.col-lg-6.mb-4
				figure
					figcaption.box-content
						p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate deserunt iste voluptatibus dolorum iusto, similique, quae maiores ipsa laudantium esse maxime vitae reprehenderit nisi culpa, nihil obcaecati molestias consectetur sapiente.
		.row.project-hot
			.col-lg-6.top-project
				a.item(href="#")
					figure
						img.img-fluid(src="./img/home/box4/home-box4-1.png", alt="alt")
						figcaption
							h3 Không gian tuyệt hảo để sum vầy bên người thân
			.col-md-6.col-lg-3.top-project
				a.item(href="#")
					figure
						img.img-fluid(src="./img/home/box4/home-box4-2.png", alt="alt")
						figcaption
							h3 Nơi gặp gỡ bạn bè, chia sẻ đam mê và sở thích
			.col-md-6.col-lg-3.part-list
				.row
					.col
						a.item(href="#")
							figure
								img.img-fluid(src="./img/home/box4/home-box4-3.png", alt="alt")
								figcaption
									h3 Nơi nô đùa an toàn và hứng khởi dành cho trẻ
						a.item(href="#")
							figure
								img.img-fluid(src="./img/home/box4/home-box4-4.png", alt="alt")
								figcaption
									h3 Tiện ích tiêu chuẩn vượt trội
