section.gioithieu-box-7
	.container
		.row
			.col-lg-6
				.item
					figure
						figcaption.box-content
							h3.h3.text-uppercase Tin tức
							ul.list-unstyled
								li.nav-item
									a.nav-link(href="#") Tiếp tục xây cầu đường Bình Tiên theo hình thức BT
								li.nav-item
									a.nav-link(href="#") Những lưu ý cần thiết dành cho nhà đầu tư mới
								li.nav-item
									a.nav-link(href="#") Bất động sản khu tây nam nóng nhờ đòn bẩy hạ tầng
								li.nav-item
									a.nav-link(href="#") Đường thông, cầu mở, quận 8 vào top khu vực hút nhà đầu tư
								li.nav-item
									a.nav-link(href="#") Giấy phép xây dựng Splendora An Khánh
			.col-lg-6(bg-img="./img/sanpham/gioithieu/tintuc/img-1.png", alt="alt").d-flex.justify-content-center.align-items-center
				.item
					figure
						img.img-fluid(src="./img/sanpham/gioithieu/tintuc/360-degrees.png", alt="")
						figcaption 
