section.home-box-3(bg-img="./img/bg/bg-splendora.png")
	.container
		.row
			.col-lg-6.item
				.box-title
					h2.title Không gian sống lý tưởng cho người hiện đại
			.col-lg-6.item
				.box-content
					p.content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit eum reprehenderit dicta aut tempore? Quod sunt debitis fuga voluptatibus exercitationem consequuntur sapiente voluptas, similique odio id, quaerat ad consectetur!
		.row
			.col-md-6.col-lg-3.item.text-center.mb-5
				figure
					.box-img
						img(src="./img/home/box3/home-box3-1.png", alt="")
					figcaption
						h3.h3 Hệ thống trường học chuẩn quốc tế
			.col-md-6.col-lg-3.item.text-center.mb-5
				figure
					.box-img
						img(src="./img/home/box3/home-box3-2.png", alt="")
					figcaption
						h3.h3 Trung tâm thương mại và marketing
			.col-md-6.col-lg-3.item.text-center.mb-5
				figure
					.box-img
						img(src="./img/home/box3/home-box3-3.png", alt="")
					figcaption
						h3.h3 Khu sinh hoạt cộng đồng cho dân cư
			.col-md-6.col-lg-3.item.text-center.mb-md-5
				figure
					.box-img
						img(src="./img/home/box3/home-box3-4.png", alt="")
					figcaption
						h3.h3 Các tiện ích khác
	.box-img-full-width
		figure
			img.img-fluid(src="./img/home/bg/home-bg-box3-bottom.png", alt="")
