section.canhcam-ankhanh-recruiment-detail-r-1
	article.recruiment-details
		.container
			.row
				.col-lg-9
					.news-read
						.row.title-news
							.col-12
								h1 Nhân viên chăm sóc khách hàng (tiếng Hàn) Khu đô thị Splendora
							.col-12.calendar
								i.fa.fa-calendar
								time 08/08/2018
						//- block content 1
						//- table
						table.table.table-striped
								tr
									th.first Vị trí ứng tuyển
									td Số lượng ứng tuyển
								tr
									th.first Vị trí ứng tuyển
									td Số lượng ứng tuyển
								tr
									th Chức vụ: 
									td Nhân viên
								//- row 3
								tr
									th Yêu cầu giới tính: 
									td Nam
								//- row 4
								tr
									th Địa điểm làm việc: 
									td Tp Hồ Chí Minh
								//- row 5
								tr
									th Yêu cầu độ tuổi: 
									td 25-35
								//- row 6
								tr
									th Mức lương: 
									td Thương lượng
								//- row 7
								tr
									th Bằng cấp tối thiểu: 
									td Tốt nghiệp Cao Đẳng trở lên.
								//- row 8
								tr
									th Số lượng cần tuyển:
									td 2
								//- row 9
								tr
									th Kinh nghiệm tối thiểu: 
									td 1
								//- row 9
								tr
									th Kinh nghiệm tối thiểu: 
									td 1

						//- content
						p.lead Customer Service Job Description 
						ul
							li Answer telephone calls following to the company’s policies and processes. 
							li Always satisfy the tenants, resolve the requirements, proposals, suggestions, questions, queries, complaints, and shipping delivery, etc of tenants and guests with effective and enthusiastic attitude in service.
							li Ensure all interior, equipment, decorations and/or of equipment inside or outside the reception area always in neat, tidy condition and work well
							li Assist in the establishment and development of standardized working progress for department.
							li Assist to track the expenditure and necessary equipment for department.
							li Check handover book daily works content for employees and track until finishing.
							li Create weekly and monthly report for Manager.
							li Other duties
						//- block content 2
						p.lead Receptionist Job Requirements
						ul
							li Education: University degree 
							li Specialist: Korean language
							li Experience: N/A, freshman accepted.
						//- block content 3
						p Language and other requirements:
						ul
							li Education: University degree 
							li Specialist: Korean language
							li Experience: N/A, freshman accepted.
						//- block content 3
						p Working time:
						ul
							li 5 days/week ( 8h working hours/day; 40 hours/week)
							li Work on weekend (shift work as require).
						p Please send your CV and related certificates to:
						p Ms Nguyen Hong Hoa
						p Email: hoanh@ankhanhjvc.com
						.text 
							.btn-contact.btn-contact-1
								a.text-uppercase(href="javascript:void(0)") Tải mẫu đơn xin việc
							.btn-contact.btn-contact-2
								a.text-uppercase(href="javascript:void(0)") Ứng tuyển ngay
						
				//- Relation news
				.col-lg-3.rela-news
					.row 
						.col-12.othernews
							h2.text-uppercase TUYỂN DỤNG KHÁC
					.row 
						//- new-1
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							.calendar
								a.item(href="javascript:void(0)")
									.box
										i.fa.fa-calendar
										time 08/08/2018
										h3 Tuyển dụng vị trí nhân viên bảo vệ Splendora
								hr
						//- new-2
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							.calendar
								a.item(href="javascript:void(0)")
									.box
										i.fa.fa-calendar
										time 08/08/2018
										h3 Tuyển dụng vị trí nhân viên pháp chế
								hr
						//- new-3
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							.calendar
								a.item(href="javascript:void(0)")
									.box
										i.fa.fa-calendar
										time 08/08/2018
										h3 Tuyển dụng Nhân viên chăm sóc khách hàng (tiếng Hàn) Khu đô thị Splendora
								hr
						//- new-4
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							.calendar
								a.item(href="javascript:void(0)")
									.box
										i.fa.fa-calendar
										time 08/08/2018
										h3 Tuyển dụng vị trí nhân viên lễ tân khu đô thị Splendora
								hr
						//- new-5
						.col-xs-6.col-sm-6.col-md-6.col-lg-12.item-news
							.calendar
								a.item(href="javascript:void(0)")
									.box
										i.fa.fa-calendar
										time 08/08/2018
										h3 Tuyển dụng vị trí Nhân viên Kế Toán
								hr
