section.canhcam-jvc-5
	.container
		h2.ankhanh-title Cơ hội đầu tư
		.row
			.col-12
				.text
					p Dự án Splendora của Công ty liên doanh TNHH phát triển đô thị mới An Khánh hứa hẹn sẽ trở thành không gian sống với đầy đủ những tiện nghi hoàn hảo. Chúng tôi mang đến cơ hội đầu tư triển vọng cho các doanh nghiệp hàng đầu trong những lĩnh vực:
			.col-12
				.owl-carousel.cohoidautu
					- for(i=1;i<5;i++)
						.item
							figure
								img.img-fluid(src="./img/ankhanhjvc/cohoi/img-"+ i +".png", alt="")
								figcaption
									h3 Cơ hội nghề nghiệp
			.col-12
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.