section.home-box-1(bg-img="./img/bg/bg-splendora.png")
	.container
		.row.d-flex.align-items-center
			.col-lg-6.mb-4.mb-lg-0
				.item
					figure.logo
						img(src="./img/home/logo/home-logo-2-color.png", alt="alt")
						figcaption
							.box-content
								p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempora laudantium totam ullam aliquam sequi blanditiis labore cum ducimus facilis ab voluptate, nostrum sapiente corporis odio magni laborum reprehenderit aliquid?
								p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore labore, sint id blanditiis numquam amet maiores consectetur facere accusamus asperiores impedit molestiae ab optio incidunt aliquid! Iusto debitis aliquam labore?
								button.btn.btn-legendary.btn-more Xem thêm
			.col-lg-6
				.row
					.col-md-4.fixed-width.mb-4.mb-md-0
						.item(bg-img="./img/home/images/home-img-vinaconex.png")
							figure.box-img
								img.img-fulid(src="./img/home/images/home-vinaconex-logo.png", alt="alt")
								figcaption 
					.col-md-4.fixed-width.mb-4.mb-md-0
						.item(bg-img="./img/home/images/home-img-splendora.png")
							figure.box-img
								img.img-fulid(src="./img/home/images/home-splendora-logo.png", alt="alt")
								figcaption 
					.col-md-4.fixed-width
						.item(bg-img="./img/home/images/home-img-phulong.png")
							figure.box-img
								img.img-fulid(src="./img/home/images/home-phulong-logo.png", alt="alt")
								figcaption 
