section.canhcam-carousel-2(bg-img="./img/sanpham/gioithieu/bg-box4.png")
	.container
		.row
			.col
				h2.h2.text-center.text-uppercase.mb-5 Thiết kế nhà
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Biệt thự M1
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Biệt thự M2
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Biệt thự M4
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Biệt thự M6
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Lorem ipsum dolor
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Lorem ipsum dolor
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Lorem ipsum dolor
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/sanpham/gioithieu/slider-1-1.png', alt='')
								figcaption
									h3.h3.text-center.mt-4 Lorem ipsum dolor
