section.canhcam-ankhanh-news-n-1
	article.news-list
		.container
			.row 
				.col-10.mx-auto
					h2.h2.text-center.text-uppercase Tin tức
		.container
			.row#products
				//- n-1 
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							img.w-100.img-fluid(src="./img/ankhanh-news/n_1.png", alt="alt")
							figcaption.box
								.row.no-gutters.text
									.col-2.date
										p.day 08
										time 08/2018
									.col-10.title
										h3 Nữ tỷ phú Vietjet mua dự án bất động sản "khủng" tại Hà Nội
								p.content Công ty Địa ốc Phú Long thuộc tập đoàn Sovico (do tỷ phú Nguyễn Thị Phương Thảo làm Chủ tịch HĐQT) Vừa hoàn tất thương vụ mua 50% vốn dự án Splendora. Đây là dự án của An Khánh JVC, một công ty liên doanh giữa Vinaconex và Posco E&C ( Hàn Quốc)
								//- hr
				//- n-2 
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							img.w-100.img-fluid(src="./img/ankhanh-news/n_2.png", alt="alt")
							figcaption.box
								.row.no-gutters.text
									.col-2.date 
										p.day 08
										time 08/2018
									.col-10.title
										h3 Đô thị phức hợp - Không gian sống lý tưởng cho người hiện đại
								p.content Sống trong khu đô thị phức hợp, bạn không chỉ sở hữu căn nhà mà còn được tận hưởng trọn vẹn các tiện ích, không gian sống công cộng, trường học, trung tâm thương mại… ngay trong nội khu của dự án.
								//- hr
				//- n-3 
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							img.w-100.img-fluid(src="./img/ankhanh-news/n_3.png", alt="alt")
							figcaption.box
								.row.no-gutters.text
									.col-2.date 
										p.day 08
										time 08/2018
									.col-10.title
										h3 Khu đô thị Hòa Lạc: Giá trị BĐS gia tăng nhờ đòn bẩy hạ tầng
								p.content Với chính sách quy hoạch đô thị đến năm 2030, Hòa Lạc sẽ trở thành siêu đô thị kiểu mới nằm ở trái tim phía Tây Hà Nội. Những dự án BĐS ở khu vực này hứa hẹn sẽ tăng giá chóng mặt khi lượng cư dân lớn về sinh sống, hình thành đô thị sầm uất mới của thủ đô.
								//- hr
				//- n-4 
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							img.w-100.img-fluid(src="./img/ankhanh-news/n_4.png", alt="alt")
							figcaption.box
								.row.no-gutters.text
									.col-2.date 
										p.day 08
										time 08/2018
									.col-10.title
										h3 Khánh thành Trường Quốc tế Mỹ St. Paul Hà Nội tại Khu đô thị Splendora Bắc An Khánh
								p.content Ngày 17/4/2018 vừa qua, tại Trường Quốc tế Mỹ St. Paul Hà Nội đã chính thức diễn ra Lễ khánh thành trường với sự tham gia của các vị khách quan trọng, trong đó có ngài Đại sứ Hoa Kì tại Việt Nam cùng toàn thể các học sinh và phụ huynh của trường.
								//- hr
				//- n-5 
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							img.w-100.img-fluid(src="./img/ankhanh-news/n_5.png", alt="alt")
							figcaption.box
								.row.no-gutters.text
									.col-2.date 
										p.day 08
										time 08/2018
									.col-10.title
										h3 Splendora - Cơ hội đầu tư dịch vụ - bán lẻ triển vọng
								p.content Splendora, dự án Khu đô thị phức hợp hiện đại tại cửa ngõ phía Tây của Thủ đô đã dần thành hình sau khi Giai đoạn 1 của dự án được hoàn thành và đưa vào sử dụng. Splendora hiện nay đang là nơi sinh sống của hơn 1,000 cư dân thu nhập cao với nhu cầu rất lớn về các dịch vụ cho đời sống.
								//- hr
				//- n-6 
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							img.w-100.img-fluid(src="./img/ankhanh-news/n_6.png", alt="alt")
							figcaption.box
								.row.no-gutters.text
									.col-2.date 
										p.day 08
										time 08/2018
									.col-10.title
										h3 Trường Quốc tế Mỹ St.Paul Hà Nội - Cơn gió mới tại Khu đô thị Splendora
								p.content Ngay từ những ngày đầu tiên của năm mới 2018, Splendora đã đón nhận một sự kiện quan trọng và đặc biệt có ý nghĩa đối với các gia đình cư dân có con đang đi học, đó là việc Trường Quốc tế Mỹ St. Paul chính thức đi vào hoạt động tại cơ sở ngay trong khuôn viên Giai đoạn 1 của dự án.
								//- hr
		//- Panigation
		include ../../panigation/p-1/index.pug
