section.canhcam-slider-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/home/slider/slider-home-1.png", bg-img-responsive-sm="./img/home/slider/slider-home-1.png", bg-img-responsive-xs="./img/home/slider/slider-home-1.png")
			.title
				.figure
					img.img-fluid(src="./img/home/slider/slider-home-1-content.png", alt="alt")
		.item(bg-img="./img/home/slider/slider-home-2.png")
			.title
				p Chung tay kiến tạo những công trình mang giá trị vượt trội
