
section.canhcam-ankhanh-resident-utility-r-1
	article.gallery-details
		.container
			.row 
				.col-10.mx-auto
					h2.h2.text-center.text-uppercase Dịch vụ - Tiện ích
		.container
			.row.mb-4
				.col
					.gallery-lists
						//- item 1
						a.item(href="./img/ankhanh-resident-utility/r_2.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_2.png", alt="Demo title")
								figcaption
									h2 Sân tenis
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
									
						//- item 2
						a.item(href="./img/ankhanh-resident-utility/r_2.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_2.png", alt="Demo title")
								figcaption
									h2 Sân Tennis
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 3
						a.item(href="./img/ankhanh-resident-utility/r_3.png", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_3.png", alt="Demo title")
								figcaption
									h2 Phòng Gym
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 4
						a.item(href="./img/ankhanh-resident-utility/r_4.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_4.png", alt="Demo title")
								figcaption
									h2 Hồ bơi
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 5
						a.item(href="./img/ankhanh-resident-utility/r_6.png", data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_6.png", alt="Demo title")
								figcaption
									h2 Siêu thị
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 6
						a.item(href="./img/ankhanh-resident-utility/r_5.png", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_5.png", alt="Demo title")
								figcaption
									h2 Nhà hàng - Coffe
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 7
						a.item(href="./img/ankhanh-resident-utility/r_7.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_7.png", alt="Demo title")
								figcaption
									h2 Trường học
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 8
						a.item(href="./img/ankhanh-resident-utility/r_8.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_8.png", alt="Demo title")
								figcaption
									h2 Salon - Spa
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 9
						a.item(href="./img/ankhanh-resident-utility/r_9.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_9.png", alt="Demo title")
								figcaption
									h2 Xe bus
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
						//- item 10
						a.item(href="./img/ankhanh-resident-utility/r_10.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
							figure
								//- .boxzoom
								img(src="./img/ankhanh-resident-utility/r_10.png", alt="Demo title")
								figcaption
									h2 Thư viện 
									.content 
										p Splendora An Khánh kiến tạo môi trường sống đẳng cấp, tiện ích hoàn hảo bao gồm: trường học quốc tế, trung tâm thương mại, mua sắm, spa, giải trí… 
										| Khu đô thị Splendora cung cấp đầy đủ các tiện ích, các dịch vụ cho cư dân như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe.
