section.canhcam-ankhanh-navbar
	.container.navbar-2
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select)
					li.nav-item.active
						a.nav-link(href='#') Tin tức nổi bật
					li.nav-item
						a.nav-link(href='#') Tin dự án
					li.nav-item
						a.nav-link(href='#') Tin công ty

