section.support-home(bg-img="./img/bg/bg-splendora.png")
	.container.bg-white.pl-lg-5.pr-lg-5
		.row.mb-4
			.col-12.text-center
				h1.h1.text-uppercase Hỗ trợ tài chính
				figure
					figcaption.box-content
						p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut obcaecati quis sed doloremque aliquam? Expedita, amet. Omnis incidunt odio, sit cumque iure sed accusantium quod iste laboriosam quo quos minus.
		.row.mb-5
			.col-lg-6.mb-4.mb-lg-0
				.item
					figure
						.box-img
							img.w-100(src="./img/hotrotaichinh/home/img-1.png", alt="")
						figcaption
			.col-lg-6
				.item
					figure
						figcaption
							.box-content
								ul.list-unstyled.text-center.text-md-left
									li.nav-item
										p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellat. Iusto eos modi enim nobis ex quod pariatur error nesciunt eveniet dignissimos, perferendis cupiditate quam amet unde libero, eligendi itaque!
									li.nav-item
										p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quibusdam qui, ipsa rem eius ut repellat quasi facere odit quam autem iste, id veniam. Id maxime quo recusandae nihil commodi.
									li.nav-item
										p.content Lãi suất ưu đãi: từ 4.99%/năm
											br
											| Lãi suất ưu đãi: từ 4.99%/năm
											br
											| Ân hạn gốc 2 năm
											br
											| Miễn phí trả nợ trước hạn từ năm thứ 6
											br
											| Vay tối đa 95% tổng giá trị căn hộ
											br
											| Thế chấp chính căn hộ đã mua.
