section.canhcam-nav-4
	.container
		ul.nav.nav-list
			li.nav-item
				a.nav-link(href="thungo.html") Thư ngỏ
			li.nav-item.active
				a.nav-link(href="ankhanhjvc.html") An khánh JVC
			li.nav-item
				a.nav-link(href="tamnhin.html") Tầm nhìn
			li.nav-item
				a.nav-link(href="doitac.html") Đối tác
			li.nav-item
				a.nav-link(href="cohoidautu.html") Cơ hội đầu tư
			li.nav-item
				a.nav-link(href="bonhandienthuonghieu.html") Bộ nhận diện thương hiệu
