extends _layout/layout.pug
block variables
	- var title = "ankhanh-news-detail"
	- var description = "Description for ankhanh-news-detail page"
	- var bodyclass = "ankhanh-news-detail"
	- var href = "/ankhanh-news-detail.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/ankhanh-breadcrumb/b-3/index.pug
	include ../lib/ankhanh-news-detail/n-1/index.pug
block footer
	include ../lib/ankhanh-footer/f-1/index.pug
