extends _layout/layout.pug
block variables
	- var title = "ankhanh-resident"
	- var description = "Description for ankhanh-resident page"
	- var bodyclass = "ankhanh-resident"
	- var href = "/ankhanh-resident.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/ankhanh-breadcrumb/b-1/index.pug
	include ../lib/ankhanh-navbar/n-1/index.pug
	include ../lib/ankhanh-resident/r-1/index.pug
block footer
	include ../lib/ankhanh-footer/f-1/index.pug
