extends _layout/layout.pug
block variables
	- var title = "ankhanh-breadcrumb"
	- var description = "Description for ankhanh-breadcrumb page"
	- var bodyclass = "ankhanh-breadcrumb"
	- var href = "/ankhanh-breadcrumb.html"
block body
	include ../lib/ankhanh-breadcrumb/b-1/index.pug

