extends _layout/layout.pug
block variables
	- var title = "ankhanh-news"
	- var description = "Description for ankhanh-news page"
	- var bodyclass = "ankhanh-news"
	- var href = "/ankhanh-news.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/ankhanh-breadcrumb/b-2/index.pug
	include ../lib/ankhanh-navbar/n-3/index.pug
	include ../lib/ankhanh-news/n-1/index.pug
block footer
	include ../lib/ankhanh-footer/f-1/index.pug
