extends _layout/layout.pug
block variables
	- var title = "ankhanh-navbar"
	- var description = "Description for ankhanh-navbar page"
	- var bodyclass = "ankhanh-navbar"
	- var href = "/ankhanh-navbar.html"
block body
	include ../lib/ankhanh-navbar/n-1/index.pug

