extends _layout/layout.pug
block variables
	- var title = "ankhanh-footer"
	- var description = "Description for ankhanh-footer page"
	- var bodyclass = "ankhanh-footer"
	- var href = "/ankhanh-footer.html"
block body
	include ../lib/ankhanh-footer/f-1/index.pug
