extends _layout/layout.pug
block variables
	- var title = "ankhanh-recruitment-detail"
	- var description = "Description for ankhanh-recruitment-detail page"
	- var bodyclass = "ankhanh-recruitment-detail"
	- var href = "/ankhanh-recruitment-detail.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/ankhanh-breadcrumb/b-5/index.pug
	include ../lib/ankhanh-recruitment-detail/r-1/index.pug
block footer
	include ../lib/ankhanh-footer/f-1/index.pug
