extends _layout/layout.pug
block variables
	- var title = "Chung cư cao cấp BT5"
	- var description = "Description for introduce page"
	- var bodyclass = "Product"
	- var href = "/bt5.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/nav/n-3/index.pug
	include ../lib/product/bt5/b-1/index.pug
	include ../lib/product/bt5/b-2/index.pug
	include ../lib/product/bt5/b-3/index.pug
	include ../lib/product/bt5/b-4/index.pug
	include ../lib/product/bt5/b-5/index.pug
	include ../lib/product/bt5/b-6/index.pug
	include ../lib/product/bt5/b-7/index.pug
