extends _layout/layout.pug
block variables
	- var title = "Cơ hội đầu tư"
	- var description = "Description for ankhanhjvc page"
	- var bodyclass = "ankhanhjvc"
	- var href = "/cohoidautu.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/nav/n-4/index.pug
	include ../lib/ankhanhjvc/t-5/index.pug
