extends _layout/layout.pug
block variables
	- var title = "featured news"
	- var description = "Description for featured news page"
	- var bodyclass = "featured-newse"
	- var href = "/featured-newse.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/featured-newse/fn-1/index.pug
block footer 
	include ../lib/form/f-1/index.pug
