extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/index/b-1/index.pug
	include ../lib/index/b-2/index.pug
	include ../lib/index/b-3/index.pug
	include ../lib/index/b-4/index.pug
	include ../lib/index/b-5/index.pug
	include ../lib/slider/s-2/index.pug
	include ../lib/index/b-6/index.pug
	include ../lib/form/f-1/index.pug
