extends _layout/layout.pug
block variables
	- var title = "Vị trí"
	- var description = "Description for location page"
	- var bodyclass = "Location"
	- var href = "/bt5.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/location/l-1/index.pug
