extends _layout/layout.pug
block variables
	- var title = "panigation"
	- var description = "Description for panigation page"
	- var bodyclass = "panigation"
	- var href = "/panigation.html"
block body
	include ../lib/panigation/p-1/index.pug

