extends _layout/layout.pug
block variables
	- var title = "Phát triển"
	- var description = "Description for introduce page"
	- var bodyclass = "introduce"
	- var href = "/phattrien.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/nav/n-2/index.pug
	include ../lib/introduce/phattrien/p-1/index.pug
