extends _layout/layout.pug
block variables
	- var title = "Quy hoạch"
	- var description = "Description for introduce page"
	- var bodyclass = "introduce"
	- var href = "/quyhoach.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/nav/n-2/index.pug
	include ../lib/introduce/quyhoach/q-1/index.pug
