extends _layout/layout.pug
block variables
	- var title = "resident service"
	- var description = "Description for resident service page"
	- var bodyclass = "resident-service"
	- var href = "/resident-service.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/resident-service/rs-1/index.pug
block footer 
	include ../lib/form/f-1/index.pug
