extends _layout/layout.pug
block variables
	- var title = "Tầm nhìn"
	- var description = "Description for ankhanhjvc page"
	- var bodyclass = "ankhanhjvc"
	- var href = "/tamnhin.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/nav/n-4/index.pug
	include ../lib/ankhanhjvc/t-3/index.pug
