extends _layout/layout.pug
block variables
	- var title = "Tổng quan"
	- var description = "Description for introduce page"
	- var bodyclass = "introduce"
	- var href = "/tongquan.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/nav/n-2/index.pug
	include ../lib/introduce/tongquan/t-1/index.pug
