section.canhcam-slider-5
	.container
		.row
			.col
				h2.h2.text-center.text-uppercase.mb-5 Tiện ích
		.row
			.col
				.list-thumb
					a.item(bg-img="./img/sanpham/gioithieu/slider-2-1.png", href="#", data-poster="./img/sanpham/gioithieu/slider-2-1.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						.zoom-item
							h3.h3.text-center Hồ bơi
					a.item(bg-img="./img/sanpham/gioithieu/slider-2-1.png", href="#", data-poster="./img/sanpham/gioithieu/slider-2-1.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						.zoom-item
							h3.h3.text-center Hồ bơi
					a.item(bg-img="./img/sanpham/gioithieu/slider-2-1.png", href="#", data-poster="./img/sanpham/gioithieu/slider-2-1.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						.zoom-item
							h3.h3.text-center Hồ bơi
