section.product-home(bg-img="./img/bg/bg-splendora.png")
	.container.bg-white
		.row
			.col-12.text-center
				h1.h1.text-uppercase Sản phẩm
		.row
			.col-md-6.col-lg-4.mb-4
				a.link(href="bt5.html")
					.item(bg-img="./img/sanpham/home/1.png")
						figure
							figcaption.box-content
								h2.h2 Khu biệt thự cao cấp BT5
			.col-md-6.col-lg-4.mb-4
				a.link(href="#")
					.item(bg-img="./img/sanpham/home/2.png")
						figure
							figcaption.box-content
								h2.h2 Khu biệt thự
			.col-md-6.col-lg-4.mb-4
				a.link(href="#")
					.item(bg-img="./img/sanpham/home/1.png")
						figure
							figcaption.box-content
								h2.h2 Khu liền kề
			.col-md-6.col-lg-4.mb-4
				a.link(href="#")
					.item(bg-img="./img/sanpham/home/2.png")
						figure
							figcaption.box-content
								h2.h2 Chung cư cao tầng
			.col-md-6.col-lg-4.mb-4
				a.link(href="#")
					.item(bg-img="./img/sanpham/home/1.png")
						figure
							figcaption.box-content
								h2.h2 Trung tâm thương mại
			.col-md-6.col-lg-4.mb-4
				a.link(href="#")
					.item(bg-img="./img/sanpham/home/2.png")
						figure
							figcaption.box-content
								h2.h2 Siêu thị
