section.canhcam-jvc-2
	.container
		h2.ankhanh-title An khánh jvc
		.row.item-first
			.col-lg-8
				.text.text-first
					p Ngày 18 tháng 08 năm 2006, Tổng Công ty XNK xây dựng Việt Nam (Vinaconex) và Công ty Posco E&C (Hàn Quốc) đã ký hợp đồng hợp tác đầu tư thực hiện dự án Khu đô thị mới Bắc An Khánh.(Splendora).
					p Theo hợp đồng được ký kết, Vinaconex và Posco E&C sẽ hợp tác đầu tư xây dựng dự án khu đô thị mới Bắc An Khánh (Splendora) dọc trục đường cao tốc Láng - Hoà Lạc, thuộc địa phận các xã An Khánh, Lại Yên, Song Phương, Vân Canh thuộc huyện Hoài Đức, Hà Tây nay là Hà nội. Công ty liên doanh TNHH phát triển đô thị mới An Khánh được thành lập để quản lý và thực hiện dự án.
					p Ngày 08 tháng 12 năm 2006, Công ty Liên doanh TNHH Phát triển đô thị mới An Khánh (gọi tắt là An Khánh JVC) đã chính thức được thành lập. Đội ngũ cán bộ của An Khánh JVC được điều chuyển từ hai Công ty mẹ, giàu kinh nghiệm trong lĩnh vực thiết kế, quản lý dự án và thi công. Chính những kinh nghiệm quý báu này đã và đang tạo nên một khu đô thị phức hợp hiện đại Splendora – Nơi ước đến, chốn mong về. 
					p Tháng 12.2017, Posco E&C đã chuyển nhượng toàn bộ phần vốn góp của mình tại Công ty liên doanh TNHH Phát triển Đô thị mới An Khánh cho Nhà phát triển bất động sản Phú Long với kế hoạch đưa Khu độ thị Splendora trở thành một thành phố hiện đại bậc nhất Việt Nam. Kể từ đó, dự án Splendora được dẫn dắt và phát triển bởi hai Công ty mẹ VINACONEX và PHÚ LONG - SOVICO - Hai đơn vị lớn mạnh trong lĩnh vực xây dựng và đầu tư kinh doanh bất động sản.
			.col-lg-4
				.text.text-second
					h4 Thông tin chung về doanh nghiệp
					ul
						li Tên doanh nghiệp: CÔNG TY LIÊN DOANH TNHH PHÁT TRIỂN ĐÔ THỊ MỚI AN KHÁNH
						li Tên viết tắt: An Khánh JVC
						li Loại hình doanh nghiệp: Công ty TNHH hai thành viên trở lên (Công ty Liên doanh)
						li Địa chỉ: Km 10+ 600, Đại lộ Thăng Long, xã An Khánh, huyện Hoài Đức, Thành phố Hà Nội
						li Điện thoại: (84.24) 3755.6541
						li Fax: (84.24) 3755.6546
						li Website: www.splendora.vn
						li Email: info@ankhanhjvc.com
		.row.item
			.col-12
				.text