section.canhcam-ankhanh-recruitment-r-2
	.container
		.row 
			.col-10.mx-auto
				h2.h2.text-center.text-uppercase.mb-4 HÌNH THỨC NỘP HỒ SƠ
		.row.justify-content-between.group
			.col-xs-12.col-md-6.contact
				.c
					.c-3
						i.fa.fa-envelope
						h3.h3.text-uppercase Trực tuyến
						p Email: info@ankhanhjvc.com
						p HR: hoanh@ankhanhjvc.com
						p Web: www.splendora.vn
			.col-xs-12.col-md-6.contact
				.c
					.c-3
						i.fa.map-marker-alt
						h3.h3.text-uppercase Tại văn phòng
						p Km10+600, Đại lô Thăng Long, An Khánh, 
						p Hoài Đức, Hà Nội
						p Điện thoại: 024 3755 6541
						p Fax: 024 3755 6546
