section.canhcam-jvc-3
	.container
		h2.ankhanh-title Tầm nhìn sứ mệnh
		.row
			.col-lg-6
				.text
					p An Khánh JVC được thành lập năm ngày 08 tháng 12 năm 2006, liên doanh giữa Vinaconex – công ty xây dựng hàng đầu Việt Nam và Posco E&C – công ty năng lượng và xây dựng nhà đất, và cơ sở hạ tầng lớn bậc nhất Hàn Quốc.
					p Tất cả trong một chất lượng quốc tế với cuộc sống hiện đại, tiện nghi trong một môi trường hài hòa, Splendora là thành phố mơ ước của tương lai mà cư dân có thể sống trong hiện tại.
			.col-lg-6
				.img-box
					img.img-fluid(src="./img/ankhanhjvc/tamnhin/img-1.png", alt="")
		.row.justify-content-center.mt-5
			.col-lg-5
				.content.text-center
					.img-wrap
						img.img-fluid(src="./img/ankhanhjvc/tamnhin/icon-1.png", alt="")
					.text
						p Sứ mệnh: Xây dựng Splendora - một thành phố hoàn toàn mới và hiện đại, mang đến môi trường sống đẳng cấp quốc tế ở Hà Nội.
			.col-lg-5.mt-4.mt-lg-0
				.content.text-center
					.img-wrap
						img.img-fluid(src="./img/ankhanhjvc/tamnhin/icon-2.png", alt="")
					.text
						p Tầm nhìn của dự án: một thành phố hiện đại hoàn toàn mới trên 264 ha đất chỉ cách Hoàn Kiếm 15km. Dự án phát triển theo các tiêu chuẩn quốc tế về mặt thiết kế và chất lượng, một thành phố tự trang bị đầy đủ với mảng kinh doanh, khu dân cư, thương mại, các cơ sở giáo dục và văn hóa.