section.canhcam-boxes-6(bg-img="./img/bg/bg-splendora.png")
	.container
		.row.mb-4
			.col.text-center
				h2.title Chủ đầu tư
		.row
			.col-lg-3.mb-4
				figure.d-flex.justify-content-center
					img.img-fluid(src="./img/home/logo/logo-ankhanhjvc.png", alt="alt")
					figcaption 
			.col-lg-9
				figure
					figcaption.box-content.text-center.text-lg-left
						p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sapiente tenetur deserunt aliquid fugiat reprehenderit. Recusandae sapiente tenetur deserunt aliquid fugiat reprehenderit. Aliquid fugiat reprehenderit tenetur.
						p.brief-content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates iure officia, quaerat aliquam earum magnam perspiciatis dignissimos tempora eaque nostrum velit dolorum sed culpa necessitatibus nulla reprehenderit, illum, eveniet tenetur. Voluptates iure officia, quaerat aliquam earum magnam perspiciatis dignissimos tempora eaque nostrum velit dolorum sed culpa necessitatibus nulla reprehenderit, illum, eveniet tenetur. Voluptates iure officia, quaerat aliquam earum magnam perspiciatis dignissimos tempora eaque nostrum velit.
