section.canhcam-ankhanh-breadcrumb
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/ankhanh-breadcrumb/b_1.png", bg-img-responsive-sm="./img/ankhanh-breadcrumb/b_1.png", bg-img-responsive-xs="./img/ankhanh-breadcrumb/b_1.png")
	.main-breadcrumb
		.container
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') 
						i.fa.fa-home
				li.breadcrumb-item
					a(href='#') Góc cư dân
				li.breadcrumb-item.active(aria-current='page') Tin tức
