section.canhcam-ankhanh-recruitment-r-1
	.container
		.row 
			.col-10.mx-auto
				h2.h2.text-center.text-uppercase TUYỂN DỤNG
		.container
		table.table.table-striped
			thead
				tr
					th Vị trí ứng tuyển
					th Số lượng ứng tuyển
					th Địa điểm
					th Hạn nộp hồ sơ
			tbody
				//- row 1
				tr
					td 
						.row 
							.col-xs-12.col-md-10 Nhân viên quản lý phòng tập Gym và bể bơi tại Khu đô thị Splendora 
							.col-xs-4.col-md-2 
								img.new(src="./img/ankhanh-recruitment/r_1.png", alt="")
					td 01
					td Hà Nội
					td 21.01.2018
				//- row 2
				tr
					td 
						.row 
							.col-xs-12.col-md-10 Nhân viên quản lý phòng tập Gym và bể bơi tại Khu đô thị Splendora 
							.col-xs-4.col-md-2 
								img.new(src="./img/ankhanh-recruitment/r_1.png", alt="")
					td 01
					td Hà Nội
					td 21.01.2018
				//- row 3
				tr
					td 
						.row 
							.col-xs-12.col-md-10 Nhân viên quản lý phòng tập Gym và bể bơi tại Khu đô thị Splendora 
							.col-xs-4.col-md-2.no-new
								img.new(src="./img/ankhanh-recruitment/r_1.png", alt="")
					td 01
					td Hà Nội
					td 21.01.2018
				//- row 1
				tr
					td 
						.row 
							.col-xs-12.col-md-10 Nhân viên quản lý phòng tập Gym và bể bơi tại Khu đô thị Splendora 
							.col-xs-4.col-md-2.no-new
								img.new(src="./img/ankhanh-recruitment/r_1.png", alt="")
					td 01
					td Hà Nội
					td 21.01.2018
				//- row 1
				tr
					td 
						.row 
							.col-xs-12.col-md-10 Nhân viên quản lý phòng tập Gym và bể bơi tại Khu đô thị Splendora 
							.col-xs-4.col-md-2.no-new
								img.new(src="./img/ankhanh-recruitment/r_1.png", alt="")
					td 01
					td Hà Nội
					td 21.01.2018

