section.canhcam-slider-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/gioithieu/slider-1.png", bg-img-responsive-sm="./img/gioithieu/slider-1.png", bg-img-responsive-xs="./img/gioithieu/slider-1.png")
		.item(bg-img="./img/home/slider/slider-home-2.png")
